<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbefgra.tehfg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Torsten 'Teggy' Grust</string>
	<key>description</key>
	<string>Integration with calendar manager BusyCal.</string>
	<key>name</key>
	<string>BusyCal</string>
	<key>uuid</key>
	<string>17AADD90-5F90-11E3-949A-0800200C9A66</string>
</dict>
</plist>
